<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="candidato">
            <h2><span>Candidato</span> {{candidato.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{candidato.nome}}</span>
                </dd>
                <dt><span>Foto</span></dt>
                <dd>
                    <div *ngIf="candidato.foto">
                        <a (click)="openFile(candidato.fotoContentType, candidato.foto)">
                            <img [src]="'data:' + candidato.fotoContentType + ';base64,' + candidato.foto" style="max-width: 100%;" alt="candidato image"/>
                        </a>
                        {{candidato.fotoContentType}}, {{byteSize(candidato.foto)}}
                    </div>
                </dd>
                <dt><span>Cargo</span></dt>
                <dd>
                    <div *ngIf="candidato.cargo">
                        <a [routerLink]="['/cargo', candidato.cargo?.id, 'view']">{{candidato.cargo?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/candidato', candidato.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
