<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">Eleições.</h1>
        <p class="lead">Lista de eleições:</p>
    </div>

    <div class="table-responsive" *ngIf="eleicaos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span>Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataInicio"><span>Data Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataFim"><span>Data Fim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let eleicao of eleicaos ;trackBy: trackId">
                <td><a [routerLink]="['/eleicao', eleicao.id, 'view' ]">{{eleicao.id}}</a></td>
                <td>{{eleicao.nome}}</td>
                <td>{{eleicao.dataInicio | date:'dd/MM/yyyy'}}</td>
                <td>{{eleicao.dataFim | date:'dd/MM/yyyy'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/eleicao', eleicao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Detalhes</span>
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="d-none d-md-inline">Votar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
