<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voto">
            <h2><span>Voto</span> {{voto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cpf</span></dt>
                <dd>
                    <span>{{voto.cpf}}</span>
                </dd>
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{voto.nome}}</span>
                </dd>
                <dt><span>Protocolo</span></dt>
                <dd>
                    <span>{{voto.protocolo}}</span>
                </dd>
                <dt><span>Cargo</span></dt>
                <dd>
                    <div *ngIf="voto.cargo">
                        <a [routerLink]="['/cargo', voto.cargo?.id, 'view']">{{voto.cargo?.nome}}</a>
                    </div>
                </dd>
                <dt><span>Candidato</span></dt>
                <dd>
                    <div *ngIf="voto.candidato">
                        <a [routerLink]="['/candidato', voto.candidato?.id, 'view']">{{voto.candidato?.nome}}</a>
                    </div>
                </dd>
                <dt><span>Eleicao</span></dt>
                <dd>
                    <div *ngIf="voto.eleicao">
                        <a [routerLink]="['/eleicao', voto.eleicao?.id, 'view']">{{voto.eleicao?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/voto', voto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
